<div class="calculator">
    <h2 class="calculator_title">Калькулятор</h2>
    <input type="number" class="calculator_input" [(ngModel)]="first">
    <select class="calculator_select" [(ngModel)]="operation">
        <option *ngFor="let op of operations" [value]="op">{{op}}</option>
    </select>
    <input type="number" class="calculator_input" [(ngModel)]="second">
    <span class="calculator_result">{{result ? "Результат: " + result : 'Нажмите рассчитать'}}</span>
    <button (click)="calc()" class="calculator_btn">Рассчитать</button>
</div>
